* {
  font-family: "Mulish", sans-serif;
}
body {
  background-color: #f7f4ef;
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  display: block;
}
.bild {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 550px;
  padding-top: 3%;
}
.button {
  background-color: #ec9e7f;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 3px;
  width: 230px;
  margin: 5px;
}
.button:hover {
  background-color: #ca8062;
  border: none;
  color: white;
  text-decoration: none;
}
/* LINE */
hr.solid {
  border: 1px solid #eead94;
  max-width: 90%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  align-items: center;
}
.text-section {
  text-align: center;
  margin: auto;
}
.text-section > h1 {
  font-size: 4vw;
  font-weight: normal;
  margin: 0% 0%;
  text-decoration: solid;
  color: #000;
}
.text-section > h3 {
  color: #ca8062;
  font-size: 1.5vw;
  margin: 3%;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
}
.paragraph {
  font-size: 18px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
  max-width: 1000px;
  padding-left: 5%;
  padding-right: 5%;
}
a {
  color: #ca8062;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* COUNTDOWNER */
.container {
  color: #333;
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: center;
  font-size: 1.1vw;
}

li {
  display: inline-block;
  font-size: 1.1vw;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  font-size: 3rem;
}
.emoji {
  display: none;
  padding: 1rem;
}
.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee9e0;
  color: #444;
  cursor: pointer;
  width: 85%;
  padding: 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 3px 3px 3px 3px ;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #e6dfd0;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  background-color: #fdfcf9;
  width: 85%;
  margin: auto;
  line-height: 1.5;
  border-radius: 0px 0px 10px 10px;
}
p {
  font-size: 15px;
  text-align: left;
  padding: 0% 5%;
}
.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.wrapper {
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* MOBILE */
@media (max-width: 640px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
  .col-3 {
    grid-template-columns: 1fr;
  }
  .col-4 {
    grid-template-columns: 1fr;
  }
  .text-section{
    width: 100%;
  }
  .text-section > h1 {
    font-size: 7vw;
  }
  .text-section > h3 {
    color: #ca8062;
    font-size: 5vw;
    margin: 3%;
  }
  .container{
    width: 100vw;
  }
  li {
    display: inline-block;
    font-size: 3vw;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  li span {
    display: block;
    font-size: 9vw;
  }
}

/* Above Mobile to desktop*/
@media (min-width: 640px) {
  .collapsible {
    max-width: 800px;
  }
  .collapsible:after {
    max-width: 800px;
  }
  .p {
    max-width: 800px;
  }
  .wrapper {
    margin-inline: auto;
    max-width: 70%;
  }
  .text-section > h1 {
    font-size: 4vw;
  }
  .text-section > h3 {
    color: #ca8062;
    font-size: 3vw;
    margin: 3%;
  }
  .content {
    width: 800px;
  }
  .collapsible{ 
    width: 800px;
  }
}


/* Desktop and up */
@media (min-width: 1280px) {
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .text-section > h1 {
    font-size: 3.3vw;
  }
  .text-section > h3 {
    color: #ca8062;
    font-size: 2vw;
    margin: 3%;
  }
  .content {
    width: 800px;
  }
  .collapsible{ 
    width: 800px;
  }
}
ul {
  padding: 0px;
}
