
* {
  font-family: 'Mulish', sans-serif;
}
body {
  min-height: 100vh;
  margin: 0 auto;
}
body:focus {
  outline: none;
}
div {
  font-family: 'Mulish', sans-serif;
}
.header {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  float:right;
}
.navigation-section {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .button{
    background-color: #ec9e7f;
    font-family: 'Mulish', sans-serif;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;

  }
  .button:hover{
    background-color: #ca8062;
    border: none;
    color: white;
    text-decoration: none;
    
  }
  .paragraph{
    font-size: 15px;
    width: 100%;
    margin: auto;
  }
  .wrapper{
    margin-inline: auto; 
    max-width: 40%; 
   }
  .bild {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  a{
    color:#ca8062;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h4{
    color:#ca8062
  }

  .container {
    color: #333;
    margin: auto auto;
    text-align: center;
    font-size: 0.6rem
  }
  
  h1 {
    font-weight: normal;  
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 3rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 750px) {

  }
  .countdowner{
    font-size: 30;
  }
  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;   
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 6px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  line-height: auto;
}
p { 
  font-size: 15px;
  text-align: left;
  padding: 0 18px;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.text-section {
  padding: 16px;
  padding-bottom: 32px;
  padding-top: 0;
  text-align: center;
  line-height: 1.3;
  max-width: 512px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.text-section > h2 {
  font-size: 30px;
  font-weight: 400;
}
