
* {
  font-family: 'Mulish', sans-serif;
}
body {
  margin: 1px;
  padding: 1%;
  background-color: rgb(247, 229, 225);
  padding-bottom: 5%;
}
.header {
  padding: 16px 20px;
  align-items: center;   
}
.bild {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
}
.wrapper{
  margin-inline: auto; 
  max-width: 70%; 
 }

  .button{
    background-color: #ec9e7f;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 3px;
    width: 120px;
  }
  .button:hover{
    background-color: #ca8062;
    border: none;
    color: white;
    text-decoration: none;
  }
  .text-section {
    text-align: center;
    margin: auto;
  }
  .text-section > h2 {
    font-size: 30px;
    font-weight: 400;
  }
  .text-section > h4 {
      color:#ca8062
  }
  .paragraph{
    font-size: 15px;  
    margin: auto;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
  }
  a{
    color:#ca8062;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
/* COUNTDOWNER */
  .container {
    color: #333;
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    font-size: 0.6rem;
  }
  h1 {
    font-weight: normal;  
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  li span {
    display: block;
    font-size: 3rem;
  }
  .emoji {
    display: none;
    padding: 1rem;
  }
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 6px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  line-height: auto;
}
p { 
  font-size: 15px;
  text-align: left;
  padding: 0 18px;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
  .wrapper{
    margin-inline: auto;
  }
  /* Mobile */
  @media (max-width: 640px) {
  
  }
  /* All above Mobile */
  @media (min-width: 640px) {
    .wrapper{
      margin-inline: auto;
      max-width: 40%;
    }
    .collapsible {
      max-width: 800px;
    }
    .collapsible:after{
      max-width: 800px;
    }
    .p{
      max-width: 800px;
    }
  }
  ul{
    padding: 0px;
  }
